/*chat opening button*/
.chat_redirect {
  position: fixed;
  right: 1.6rem;
  bottom: 1.4rem;
  padding: 0.6rem;
  border-radius: 100%;
  background-color: #3376b0;
  z-index: 4;
}

.open_chat_icon {
  color: #fff;
  width: 2rem;
  height: 2rem;
}

.chat_redirect:hover {
  background-color: #62baea;
}
